.dark-mode {
    background-color: #374375;
    header{
        background-color: #babde2;
    }
    header #Cook-Book,
    header #taste-switch,
    header #about-us{
        background-color: #374375;
        color: #fffcf5;
    }
}