/*background for whole site*/
body {
  background-color: white;
  margin: 20;
  padding: 0;
}
/*rounded out background + centering all content*/
header {
  background-color: #f7f2eb;
  border-radius: 5px;
  width: 100%;
  display: flex;
  text-align: center;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero img,
#hero button {
  margin: 1em;
}

.recipe-categories {
  position: relative;
}

#cookbook-list {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
}

#cookbook-list li {
  margin: 0;
}

#cook-book:hover #cookbook-list {
  display: block;
}
/*create button and animations*/
header #Cook-Book,
header #taste-switch,
header #about-us {
  margin: 1em;
  font-weight: bolder;
  background-color: white;
  color: rgb(0, 84, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

header #Cook-Book:hover,
header #taste-switch:hover,
header #about-us:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#welcome-message {
  background-color: #f7f2eb;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message h1 {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
}

#Regenerate {
  font-weight: bolder;
  background-color: white;
  color: rgb(0, 84, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#Regenerate:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}